In [5]:
import pandas as pd 
import numpy as np
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [11]:
pip install lxml

Collecting lxml
  Using cached lxml-5.2.2-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.4 kB)
Using cached lxml-5.2.2-cp312-cp312-macosx_10_9_universal2.whl (8.2 MB)
Installing collected packages: lxml
Successfully installed lxml-5.2.2

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [12]:
tables = pd.read_html("https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29")
df = tables[3]

In [13]:
df.columns = range(df.shape[1])

In [14]:
df = df[[0,2]]

In [15]:
df = df.iloc[1:11,:]

In [16]:
df.columns = ['Country','GDP (Million USD)']

In [17]:
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [18]:
df.columns

Index(['Country', 'GDP (Million USD)'], dtype='object')

In [19]:
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

In [20]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

In [21]:
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']],2)

In [22]:
df[['GDP (Million USD)']]

    GDP (Million USD)
1            26854.60
2            19373.59
3             4409.74
4             4308.85
5             3736.88
6             3158.94
7             2923.49
8             2169.74
9             2089.67
10            2081.24

In [23]:
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [24]:
df.to_csv('./Largest_economies.csv')